<% curr_time = Time.now.strftime("%I:%M %p")
curr_date = Time.now.strftime("%A %B %d %Y") %>

<h1>Home#homepage</h1>
<% if user_signed_in? %>
  <div>Hello <%= current_user.email %></div>
<% end %>


<%="Today is #{curr_date} and the time is currently #{curr_time}."%>



<%
require 'yajl'


file_stream = File.open("yacs.json","r")
count = 10
   json = Yajl::Parser.parse(file_stream)
   myCourses = Array.new
   sub_cat = Array.new
   mySections = Array.new



json['courses'].each do |course| 

	id = "#{course['id']}"
	course_name = "#{course['name']}"
	number = "#{course['number']}"
	max_credits = "#{course['max_credits']}"
	min_credits = "#{course['min_credits']}"
	description = "#{course['description']}"
	department_id = "#{course['department_id']}"
	sections = course['sections']
	sections.each do |myclass|
		
		crn = myclass['crn']
		department_code = "#{myclass['department_code']}"
		section_id = "#{myclass['id']}"
		instructors = myclass['instructors']
		section_name = "#{myclass['name']}"
		num_periods = "#{myclass['num_periods']}"
		periods = myclass['periods']
    seats = myclass['seats']
    sub_cat.push(department_code)
    if department_code == "CSCI"
      if course_name == "Data Structures"
        mySections.push(section_name)
      end
  
      myCourses.push(course_name)
   end
   seats_taken = "#{myclass['seats_taken']}"
   
   end 
  




end 
   sub_cat = sub_cat.uniq
   sub_cat  = sub_cat.sort

    myCourses = myCourses.uniq
   myCourses  = myCourses.sort

   mySections = mySections.uniq
   mySections = mySections.sort
   option = ""



   file_stream.close() %>
<%= select_tag :dept, options_for_select(sub_cat, :selected=> option, :onchange=>"reset_form(this.id,'page_type_msg');") %>
<%= select_tag :myclass, options_for_select(myCourses) %>
<%= select_tag :section, options_for_select(mySections) %>


<div id="calendar"></div>






<p>Find me in app/views/home/homepage.html.erb</p>
